@charset "utf-8";
/* CSS Document */
h2 {
  color: white;
   font-size: 20px;
   line-height: 15px;
   width: 600px;
   background-color: lightblue;
   padding: 20px;
}

h1 {
  font-size: 40px;
}

body {
  background-image: url("slike/pozadina.jpg");
        background-color: blue;
}

h1 {
    color: darkblue;
}

a:link {
   color: black;
   background-color: lightblue;
   padding: 5px;
   line-height: 40px;
   border: 1px solid #000000;
 }
